Client/.vs/Client/v16/.suo
Client/Client/bin/Debug/netcoreapp3.1/Client.dll
Client/Client/bin/Debug/netcoreapp3.1/Client.pdb
Client/Client/obj/Client.csproj.nuget.dgspec.json
Client/Client/obj/project.assets.json
Client/Client/obj/project.nuget.cache
Client/Client/obj/Debug/netcoreapp3.1/Client.assets.cache
Client/Client/obj/Debug/netcoreapp3.1/Client.csprojAssemblyReference.cache
Client/Client/obj/Debug/netcoreapp3.1/Client.dll
Client/Client/obj/Debug/netcoreapp3.1/Client.g.resources
Client/Client/obj/Debug/netcoreapp3.1/Client.pdb
Client/Client/obj/Debug/netcoreapp3.1/Client_MarkupCompile.i.cache
Client/Client/obj/Debug/netcoreapp3.1/MainWindow.baml
Client/Client/obj/Debug/netcoreapp3.1/MainWindow.g.cs
Client/Client/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
Server/.vs/Server/v16/.suo
Server/Server/bin/Debug/netcoreapp3.1/Server.dll
Server/Server/bin/Debug/netcoreapp3.1/Server.pdb
Server/Server/obj/Debug/netcoreapp3.1/MainWindow.baml
Server/Server/obj/Debug/netcoreapp3.1/MainWindow.g.cs
Server/Server/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
Server/Server/obj/Debug/netcoreapp3.1/Server.csprojAssemblyReference.cache
Server/Server/obj/Debug/netcoreapp3.1/Server.dll
Server/Server/obj/Debug/netcoreapp3.1/Server.g.resources
Server/Server/obj/Debug/netcoreapp3.1/Server.pdb
Server/Server/obj/Debug/netcoreapp3.1/Server_MarkupCompile.i.cache
Server/Server/obj/Debug/netcoreapp3.1/Server_MarkupCompile.i.lref
Client/.vs/Client/DesignTimeBuild/.dtbcache.v2
Server/.vs/Server/DesignTimeBuild/.dtbcache.v2
Client/Client/obj/Client.csproj.nuget.g.props
Client/Client/obj/Debug/netcoreapp3.1/Client.csproj.CoreCompileInputs.cache
Client/Client/obj/Debug/netcoreapp3.1/Client.csproj.FileListAbsolute.txt
Client/Client/obj/Debug/netcoreapp3.1/Client_MarkupCompile.cache
Client/Client/obj/Debug/netcoreapp3.1/Client_MarkupCompile.lref
Server/Server/obj/project.assets.json
Server/Server/obj/project.nuget.cache
Server/Server/obj/Server.csproj.nuget.dgspec.json
Server/Server/obj/Server.csproj.nuget.g.props
Server/Server/obj/Debug/netcoreapp3.1/Server.assets.cache
Server/Server/obj/Debug/netcoreapp3.1/Server.csproj.CoreCompileInputs.cache
Server/Server/obj/Debug/netcoreapp3.1/Server.csproj.FileListAbsolute.txt
Server/Server/obj/Debug/netcoreapp3.1/Server_MarkupCompile.cache
Server/Server/obj/Debug/netcoreapp3.1/Server_MarkupCompile.lref
